setuptools>=69.0.0
gunicorn>=21.0.0
tiktoken
faiss-cpu
Flask>=3.0.0
requests>=2.31.0
python-dotenv>=1.0.0
openai
langchain
numpy>=1.26.0
PyDrive2>=1.17.0
pinecone-client>=3.0.0
Flask-Cors>=4.0.0
wheel>=0.42.0
pypdf>=3.17.0
twilio>=9.0.0
Flask-PyMongo>=2.3.0
